fpdf==1.7.2
kaleido==0.2.1
markdown-it-py==3.0.0
markdown_pdf==1.2
mdurl==0.1.2
numpy==1.26.4
packaging==24.0
pandas==2.2.2
plotly==5.21.0
PyMuPDF==1.24.2
PyMuPDFb==1.24.1
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tenacity==8.2.3
tzdata==2024.1
websockets==12.0
